* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* ------------------------NAVBAR---------------------------------*/

header {
  height: 150px;
  border-bottom: 1px solid #33333333;
  background-color: #fff;
}

.titel {
  text-transform: capitalize;
  color: #4a90e2;
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.item-list {
  border-bottom: 1px solid #33333333;
}

.menu li {
  padding: 5px;
}

.menu a {
  color: #333333;
  text-decoration: none;
  text-transform: capitalize;
}

/* ------------------------HOME---------------------------------*/

.main-container {
  display: grid;
  grid-template-columns: 1fr;
}

.main-container section {
    min-height: calc(100vh - 80px);
}

.section-home {
  background-color: #c4daf7;
}

.titulo-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.titulo-inicio h2 {
  text-align: center;
  color: #333333;
  font-size: 30px;
  text-transform: capitalize;
}

.titulo-inicio p {
  text-align: center;
  margin: 15px 0;
  color: #515151;
  font-size: 14px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn {
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
  border: 1px solid #4a90e2;
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn-contacto {
  background-color: #4a90e2;
  
}

.btn-categorias {
  background-color: transparent;
}

.btn-categorias a{
    color: #4a90e2;
}

/* ------------------------CATEGORIAS---------------------------------*/

.titulo-categorias {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 30px;
    color: #333333;
}

.home-categorias {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 20%;
}
.home-categorias article{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-categorias article img{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.home-categorias article img:hover{
    scale: 1.1;
}

.home-categorias article h3{
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    bottom: 10px;
    width: 40%;
    border: 1px solid #33333333; 
    background: linear-gradient( to right , rgba(255, 255, 255, 1), rgba(255, 255, 255, .4));
    border-radius: 10px;
    padding: 5px;
}

/* ------------------------QUERYS---------------------------------*/

@media (min-width: 600px) {
  header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  .titel {
    display: block;
  }
  .menu {
    flex-direction: row;
  }
  .item-list {
    border: none;
  }

  /* -------------------------------HOME-------------------------- */

  .titulo-inicio h2{
    font-size: 40px;
  }

  .titulo-inicio p {
    font-size: 20px;
  }

  .btn{
    font-size: 20px;
  }

}

@media (min-width: 900px) {
  .menu li:hover {
    background-color: #33333333;
    border-radius: 10px;
  }
  .menu {
    gap: 20px;
  }

  /* -------------------------------CATEGORIAS-------------------------- */

  .home-categorias{
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 20px;
  }

  .titulo-categorias h2{
    font-size: 40px;
  }

  .home-categorias article img{
    width: 80%;
    height: 100%;
  }

  .home-categorias article h3{
    width: 70%;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
  }

}
